
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, sans-serif;
}

body {
    background: #f5f7fa;
    color: #333;
}

.layout {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 260px;
    background: #ffffff;
    border-right: 1px solid #e5e7eb;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 1000px;
}

.logo {
    text-align: center;
}

.logo img {
    width: 80px;
    border-radius: 50%;
}

.logo h2 a {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #007acc;
    text-decoration: none;

}

.InfoTab a {
    display: block;
    padding: 12px;
    background: #f0f4f8;
    border-radius: 6px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #334155;
    font-weight: 500;
    transition: 0.2s;
}

.QuestionsTab a {
    display: block;
    padding: 12px;
    background: #f0f4f8;
    border-radius: 6px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #334155;
    font-weight: 500;
}
.GamesTab a {
    display: block;
    padding: 12px;
    background: #7f9abe;
    border-radius: 6px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #334155;
    font-weight: 500;
}

.menu a:hover {
    background: #dbeafe;
    color: #1e40af;

}

.grades h3 {
    margin-bottom: 10px;
    color: #475569;
}

.grades ul {
    list-style: none;
}

.grades li {
    padding: 8px 0;
    font-weight: 500;
    color: #334155;
}

.content {
    flex: 1;
    padding: 20px 35px;
    overflow-y: auto;
}


.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.search-box input {
    width: 380px;
    padding: 10px 16px;
    border: 1px solid #d1d5db;
    border-radius: 25px;
    outline: none;
}

.search-box input:focus {
    border-color: #007acc;
}

.settings-btn {
    padding: 10px 20px;
    background: #007acc;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
    transition: 0.2s;
}

.settings-btn:hover {
    background: #005fa3;
}
.settings-btn a{
    text-decoration: none;
    color: #ffffff;
}

.page-title {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #1e293b;
}

.page-title span {
    font-size: 1rem;
    color: #475569;
    margin-left: 10px;
}

.note-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.05);
}

.note-card h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
    color: #0f172a;
}

.note-card h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #334155;
}

.note-card p {
    line-height: 1.6;
    color: #475569;
}
.grades a{
    text-decoration: none;
    color: #475569; /* was  */
}
.QuestionButtons button{
    padding: 20px;
    background: #7f9abe;
    border-radius: 6px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #f0f4f8;
    font-weight: 500;
    border-style: none;
    transition: 0.1s;
}
.QuestionButtons button:hover{
    display: inline-block;
    padding: 21px;
    background: #3a4f6b;
    border-radius: 6px;
    margin-bottom: 10px;
    text-decoration: none;
    color:#f0f4f8;
    font-weight: 500;
    font-family: sans-serif;
    border-color: #f0f4f8;
    
}
.QuestionButtons {
    display: block;
    padding: 12px;
    background: #f0f4f8;
    border-radius: 6px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #f0f4f8;
    font-weight: 500;
    font-family: sans-serif;
    transition: 0.1s;
    
}

.QuestionButtons a{
    text-decoration: none;
    color: #f0f4f8;
}
.Questionpapers1 button{
    background-color: #7f9abe;
    border-radius: 6px;
    transition: 0.1s;
    padding-right: 150px;
    border-style: none;
    padding: 12px;
}
.Questionpapers button:hover{
    background-color:#e3eefc;
    border-radius: 6px;
    transition: 0.1s;
    padding: 12px;
    padding-right: 150px;
    border-style: none;
}

.graderest button{
    background-color:#e3eefc;
    border-radius: 6px;
    transition: 0.1s;
    padding: 12px;
    padding-right: 150px;
    border-style: none;
}
.graderest button:hover{
    background-color: #7f9abe;
    border-radius: 6px;
    transition: 0.1s;
    padding-right: 150px;
    border-style: none;
}